//Body
$color-one: #2A3042;
$color-two: #FFFFFF;
$color-three: #485056;
$color-three-rgba: #ced4da;
$color-four: #556EE5;
$color-four-rgba: #D5DBF9;
$color-four-dark: #3c55c5;
$color-five: #6975A6;
$color-six: #EFEFFD;



//Title
$h1-color: $color-three;
$p-color : $color-two;


//Button
$button-font-color: white;
$button-border: $color-three;
$button-background: $color-three;


